body {
    margin: 0;
    background-color: #fff;
    color: #000;
    overflow: hidden;
}
#cards-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: #ddd; /* Card back color */
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.card.flipped {
    background-color: #fff;
}
.card .symbol {
    display: none; 
}
.card.flipped .symbol {
    display: block; 
}