* {
    padding: 0;
    margin: 0;
}

#game {
    width: 500px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
    position: relative;
}

#bunny {
    position: absolute;
    bottom: 0;
    font-size: 2em; /* Adjust font size for the bunny */
}

.animate {
    animation: jump 1000ms linear;
}

@keyframes jump {
    0% {
        bottom: 0;
    }
    30% {
        bottom: 100px;
    }
    70% {
        bottom: 100px;
    }
    100% {
        bottom: 0;
    }
}

.carrot {
    position: absolute;
    bottom: 0;
    font-size: 2em; /* Adjust font size for the carrots */
}

#carrot1 {
    left: 50%;
    transform: translateX(-50%);
    animation: carrot-move1 5s infinite linear;
}

#carrot2 {
    left: 80%;
    transform: translateX(-80%);
    animation: carrot-move2 8s infinite linear;
}

@keyframes carrot-move1 {
    0% {
        left: 100%;
    }
    100% {
        left: -20%;
    }
}

@keyframes carrot-move2 {
    0% {
        left: 100%;
    }
    100% {
        left: -20%;
    }
}

p {
    text-align: center;
}