body {
    margin: 0;
    background-color: #fff;
    color: #000;
    overflow: hidden;
}

#cards-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.3s ease;
    position: relative;
}

.card.flipped {
    background-color: #fff;
}

.symbol-front {
    display: block;
}

.symbol-back {
    display: none;
}

.card.flipped .symbol-front {
    display: none;
}

.card-flipped .symbol-back {
    display: block;
}